aplikasi_data_karyawan/dist
aplikasi_data_karyawan/build/
aplikasi_data_karyawan/.env
14522708_AnamSadat.zip
14522708_anams.zip

/karyawan/dist/
/karyawan/build/
/KaryawanApp/nbproject/private/
/KaryawanApp/build/
/LoginApps/nbproject/private/
/LoginApps/build/
